# --- Python Basics ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- Virtual Environment ---
venv/
env/
ENV/
.env

# --- Jupyter Notebooks ---
.ipynb_checkpoints
*-checkpoint.ipynb

# --- VS Code / IDE ---
.vscode/
.idea/

# --- Operating System Files ---
.DS_Store
Thumbs.db

# --- DATA MANAGEMENT (Crucial) ---
# 1. Ignore all files inside these folders
data/raw/*
data/processed/*

# 2.keep the folders themselves (via the ghost file)
!data/raw/.gitkeep
!data/processed/.gitkeep

# 3. Ignore large files in root (Safety net)
*.csv
*.xlsx
*.zip