# --- Python Basics ---
__pycache__/
*.py[cod]
*.so
.Python
.ipynb_checkpoints/

# --- Virtual Environment ---
venv/
env/
.env

# --- VS Code Settings ---
.vscode/

# --- Project Data (The Important Part) ---
# Ignore all files inside data subfolders...
data/raw/*
data/processed/*
data/external/*

# ...But keep the folders themselves (so the structure exists)
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep

# Ignore specific large files if they are in root (just in case)
*.csv
*.xlsx